############################
# IntelliJ IDEA
############################
.idea/
*.iml
out/

############################
# Maven
############################
target/

############################
# Logs
############################
*.log
logs/

############################
# Java
############################
*.class

############################
# Docker - Banco de Dados
############################
mysql_data/
influxdb_data/
influxdb_config/
docker/mysql/data/

############################
# Docker volumes locais
############################
docker_data/
volume-data/

############################
# Sistema Operacional
############################
.DS_Store
Thumbs.db

############################
# Environment
############################
.env
.env.local

############################
# VS Code
############################
.vscode/

############################
# Lombok
############################
.lombok